<!DOCTYPE html>
<html>

<body>
  <div class="bg-warning"><h3>Kişisel Veri İşleme Envanteri</h3></div>

  <div class="bg-primary"><h3>Organizasyon</h3></div>

  <div class="row m-0">
    <div class="col border"><h4>Departman İsmi</h4></div>
    <div class="col border"><h4>Bilgi Girişi Yapan Kişi</h4></div>
  </div>

  <div class="bg-secondary"><h3>Süreç</h3></div>

  <div class="row">
    <div class="col border"><h4>İş Süreci</h4></div>
    <div class="col border"><h4>Veri İşleme Faaliyetlerinin Açıklanması</h4></div>
    <div class="col border"><h4>Kişisel Verisi İşlenilen Kişi</h4></div>
    <div class="col border"><h4>Kişisel Verilerin Toplanma Yöntemi</h4></div>
  </div>

  <div class="bg-info"><h3>İşlenen Veriler</h3></div>

  <div class="row">
    <div class="col border"><h4>İşlenen Veriler (Kişisel veya Özel Nitelikli Veriler)</h4></div>
    <div class="col border"><h4>İşlenen Kişisel Veri Kategorisi</h4></div>
    <div class="col border"><h4>İşlenen Özel Nitelikli Veri Kategorisi</h4></div>
    <div class="col border"><h4>İşlenmesi Gerekli Olmayan Veriler</h4></div>
  </div>

  <div class="bg-light"><h3>Amaç</h3></div>
  <div class="row">
    <div class="col border"><h4>Kişisel Verileri İşleme Amacı</h4></div>
  </div>

  <div class="bg-danger"><h3>Kişisel Verilerin Yurt İçindeki 3. Kişilere Aktarımı</h3></div>

  <div class="row">
    <div class="col border"><h4>Verilerin Yurt İçinde Paylaşıldığı Alıcı Grupları</h4></div>
    <div class="col border"><h4>Yurt İçindeki Alıcı Grupları ile Paylaşım Amaçları</h4></div>
  </div>

  <div class="bg-success"><h3>Kişisel Verilerin Yurt Dışındaki 3. Kişilere Aktarımı</h3></div>

  <div class="row">
    <div class="col border"><h4>Verilerin Yurt Dışında Paylaşıldığı Alıcı Grupları</h4></div>
    <div class="col border"><h4>Yurt Dışına Paylaşılan Veriler</h4></div>
    <div class="col border"><h4>Verilerin Yurt Dışına Aktarıldığı Ülke/ler</h4></div>
    <div class="col border"><h4>Yurt Dışındaki Alıcı Grupları ile Paylaşım Amaçları</h4></div>
  </div>

  <div class="bg-danger"><h3>Saklama</h3></div>

  <div class="row">
    <div class="col border"><h4>Süreç Kapsamında İşlenen Verilerin Ne Kadar Süre İle Saklanması Gerekmektedir ?</h4></div>
    <div class="col border"><h4>Kayıtların Tutulduğu Alanlar - Veriler Nerede Saklanıyor</h4></div>
    <div class="col border"><h4>Kişisel Verilere Erişebilen Kişiler</h4></div>
  </div>

  <div class="bg-danger"><h3>Hukuksal Dayanak</h3></div>

  <div class="row">
    <div class="col border"><h4>Hukuksal Dayanak</h4></div>
  </div>

  <div class="bg-danger"><h3>Güvenlik Tedbirleri</h3></div>

  <div class="row">
    <div class="col border"><h4>Kişisel Verileri Korumak İçin Alınan Teknik ve İdari Tedbirler Nelerdir ?</h4></div>
  </div>


</body>
</html>
