<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

</head>
<body>
  <div class="bg-warning"><h3>Kişisel Veri İşleme Envanteri</h3></div>

  <div class="bg-primary"><h3>Organizasyon</h3></div>

  <div class="row m-0">
    <div class="col border"><h4>Departman İsmi</h4></div>
    <div class="col border"><h4>Bilgi Girişi Yapan Kişi</h4></div>
  </div>

  <div class="bg-secondary"><h3>Süreç</h3></div>

  <div class="row">
    <div class="col border"><h4>İş Süreci</h4></div>
    <div class="col border"><h4>Veri İşleme Faaliyetlerinin Açıklanması</h4></div>
    <div class="col border"><h4>Kişisel Verisi İşlenilen Kişi</h4></div>
    <div class="col border"><h4>Kişisel Verilerin Toplanma Yöntemi</h4></div>
  </div>

  <div class="bg-info"><h3>İşlenen Veriler</h3></div>

  <div class="row">
    <div class="col border"><h4>İşlenen Veriler (Kişisel veya Özel Nitelikli Veriler)</h4></div>
    <div class="col border"><h4>İşlenen Kişisel Veri Kategorisi</h4></div>
    <div class="col border"><h4>İşlenen Özel Nitelikli Veri Kategorisi</h4></div>
    <div class="col border"><h4>İşlenmesi Gerekli Olmayan Veriler</h4></div>
  </div>

  <div class="bg-light"><h3>Amaç</h3></div>
  <div class="row">
    <div class="col border"><h4>Kişisel Verileri İşleme Amacı</h4></div>
  </div>

  <div class="bg-danger"><h3>Kişisel Verilerin Yurt İçindeki 3. Kişilere Aktarımı</h3></div>

  <div class="row">
    <div class="col border"><h4>Verilerin Yurt İçinde Paylaşıldığı Alıcı Grupları</h4></div>
    <div class="col border"><h4>Yurt İçindeki Alıcı Grupları ile Paylaşım Amaçları</h4></div>
  </div>

  <div class="bg-success"><h3>Kişisel Verilerin Yurt Dışındaki 3. Kişilere Aktarımı</h3></div>

  <div class="row">
    <div class="col border"><h4>Verilerin Yurt Dışında Paylaşıldığı Alıcı Grupları</h4></div>
    <div class="col border"><h4>Yurt Dışına Paylaşılan Veriler</h4></div>
    <div class="col border"><h4>Verilerin Yurt Dışına Aktarıldığı Ülke/ler</h4></div>
    <div class="col border"><h4>Yurt Dışındaki Alıcı Grupları ile Paylaşım Amaçları</h4></div>
  </div>

  <div class="bg-danger"><h3>Saklama</h3></div>

  <div class="row">
    <div class="col border"><h4>Süreç Kapsamında İşlenen Verilerin Ne Kadar Süre İle Saklanması Gerekmektedir ?</h4></div>
    <div class="col border"><h4>Kayıtların Tutulduğu Alanlar - Veriler Nerede Saklanıyor</h4></div>
    <div class="col border"><h4>Kişisel Verilere Erişebilen Kişiler</h4></div>
  </div>

  <div class="bg-danger"><h3>Hukuksal Dayanak</h3></div>

  <div class="row">
    <div class="col border"><h4>Hukuksal Dayanak</h4></div>
  </div>

  <div class="bg-danger"><h3>Güvenlik Tedbirleri</h3></div>

  <div class="row">
    <div class="col border"><h4>Kişisel Verileri Korumak İçin Alınan Teknik ve İdari Tedbirler Nelerdir ?</h4></div>
  </div>


</body>
</html>
