<!DOCTYPE html>
<html lang="en">
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <form>
        <img
          class="mb-4"
          src="http://www.kriptarium.com/uploads/4/1/0/0/41002523/published/267656.jpg?1628198633"
          alt=""
          style="
            display: block;
            margin: auto;
            background-color: hsl(0, 0%, 90%);
            transition: background-color 300ms;
          "
        />
        <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Şifre"
          />
          <label for="floatingPassword">Şifre</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Beni Hatırla
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" >
          Giriş Yap
        </button>
        <br />
        <div>
          Üye değil misiniz?
          <a
            href=""
            class="text-info m-l-5"
            routerLink="/sign-up"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            ><b>Kayıt Ol</b>
          </a>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      </form>
    </main>
  </body>
</html>
