<app-navbar></app-navbar>
<div >
  <div class="row">
    <div class="col-md-3">
      <app-sidebar-menu></app-sidebar-menu>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<!--
 <nav>
  <ul>
    <li>
      <a
        routerLink="/sign-in"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Giriş Yap</a
      >
    </li>
    <li>
      <a
        routerLink="/sign-up"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Kayıt Ol</a
      >
    </li>
    <li>
      <a
        routerLink="/veri-giris"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Veri Giriş</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet> -->
