<!DOCTYPE html>
<html>
  <body>
    <div class="">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Organizasyon</h5>
          <br />
          <h6>Departman İsmi</h6>
          <select class="form-select" aria-label="Default select example">
            <option value="seciniz" selected>Seçiniz</option>
            <option value="ik">İnsan Kaynakları</option>
            <option value="muhasebe">Muhasebe</option>
            <option value="idari">İdari İşler</option>
            <option value="diger">Diğer</option>
          </select>

          <br />

          <h6>Bilgi Girişi Yapan Kişi</h6>
          <select class="form-select" aria-label="Default select example">
            <option value="seciniz" selected>Seçiniz</option>
            <option value="ik">İnsan Kaynakları Yetkilisi</option>
            <option value="muhasebe">Muhasebe Yetkilisi</option>
            <option value="idari">İdari İşler Yetkilisi</option>
            <option value="diger">Diğer</option>
          </select>

        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Süreç</h5>
          <select class="form-select" aria-label="Default select example">
            <option value="seciniz" selected>İş Süreci</option>
            <option value="ik">İşe Alım Başvuru Süreci</option>
            <option value="muhasebe">Özlük/option></option>
            <option value="idari">Agi</option>
            <option value="diger">Diğer</option>
          </select>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Veri İşleme Faaliyetlerinin Açıklanması</h5>

        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Amaç</h5>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Kişisel Verilerin Yurt İçindeki (Türkiye) 3. Kişilere Aktarımı
          </h5>
          <select class="form-select" aria-label="Default select example">
            <option value="seciniz" selected>Kişisel Verisi İşlenen Kişi</option>
            <option value="ik">Çalışan Adayı</option>
            <option value="muhasebe">Çalışan</option>
            <option value="idari">Tedarikçi Çalışanı</option>
            <option value="idari">Tedarikçi Yetkilisi</option>
            <option value="idari">Ürün veya Hizmet Alan Kişi</option>
            <option value="idari">Potansiyel Ürün veya Hizmet Alıcısı</option>
            <option value="idari">Denek</option>
            <option value="idari">Habere Konu Olan Kişi</option>
            <option value="idari">Hissedar / Ortak</option>
            <option value="idari">Sınav Adayı / Stajyer</option>
            <option value="idari">Veli / Vasi / Temsilci</option>
            <option value="idari">Ziyaretçi</option>
            <option value="diger">Diğer (Lütfen Belirtiniz)</option>
          </select>

        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Saklama</h5>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hukuksal Dayanak</h5>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Güvenlik Tedbirleri</h5>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>

<html>
  <body>


