<!DOCTYPE html>
<html>
  <body>
    <div class="">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Organizasyon</h5>
          <br>
          <h6>Departman İsmi</h6>
          <select class="form-select" aria-label="Default select example">
            <option selected>Seçiniz</option>
            <option value="1">İnsan Kaynakları</option>
            <option value="2">Muhasebe</option>
            <option value="3">İdari İşler</option>
          </select>

          <br>

          <h6>Bilgi Girişi Yapan Kişi</h6>
          <select class="form-select" aria-label="Default select example">
            <option selected>Seçiniz</option>
            <option value="1">İnsan Kaynakları Yetkilisi</option>
            <option value="2">Muhasebe Yetkilisi</option>
            <option value="3">İdari İşler Yetkilisi</option>
          </select>

        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Süreç</h5>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">İşlenen Veriler</h5>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Amaç</h5>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Kişisel Verilerin Yurt İçindeki (Türkiye) 3. Kişilere Aktarımı
          </h5>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Saklama</h5>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hukuksal Dayanak</h5>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Güvenlik Tedbirleri</h5>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
